<div class="container">
    <div class="ss">
    <div class="login">
      <h1>Welcome!</h1>
      <div class="login-content">
        <label id="userName">Username</label>
        <input type="text" name="userName" [(ngModel)]="loginObj.userName"  id="UserName"  placeholder="UserName"  >
        <label id="passwordLabel">Please enter your password</label>
        <input type="password" name="password" [(ngModel)]="loginObj.password" id="password" placeholder="Password"  ><br>
        <button type="button" value="Login" (click)="onLogin()">Login</button>
        
      </div>
      
    </div>
    <div class="side-picture">
        <img src="https://i.pinimg.com/564x/96/28/66/96286631ecc63462ac73fa2269c3b6c5.jpg" alt="Side Picture">
        <img src="https://i.pinimg.com/564x/f9/ec/59/f9ec5988c8201620ce7d5edf18107bb9.jpg" alt="Side Picture">
      </div>
    
</div>
  </div>
 