<div class="row">   
    <div [ngClass]="isSidepanaleVisible ? 'col-8' : 'col-12'">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6">
              Product List
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-4" *ngIf="isSidepanaleVisible">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6">
              New Product
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-success" (click)="closeSidePanel()">Close</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="sku">SKU</label>
              <input type="text" id="sku" [(ngModel)]="productobj.productsku" class="form-control">
            </div>
            <div class="col-6">
              <label for="name">Name</label>
              <input type="text" id="name" [(ngModel)]="productobj.productName" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="shortName">Short Name</label>
              <input type="text" id="shortName" [(ngModel)]="productobj.productShortName" class="form-control">
            </div>
            <div class="col-6">
              <label for="price">Price</label>
              <input type="text" id="price" [(ngModel)]="productobj.productPrice" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="category">Category</label>
              <input type="text" id="category" [(ngModel)]="productobj.category" class="form-control">
            </div>
            <div class="col-6">
              <label for="deliveryTimeSpan">Delivery Time Span</label>
              <input type="text" id="deliveryTimeSpan" [(ngModel)]="productobj.deliveryTimeSpan" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="imageUrl">Image Url</label>
              <input type="text" id="imageUrl" [(ngModel)]="productobj.productImageUrl" class="form-control">
            </div>
            <div class="col-6">
              <label for="description">Product Description</label>
              <textarea id="description" rows="4" [(ngModel)]="productobj.productDescription" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  